.box {
	width: 31%;
	float: left;
	display: block;
	margin-right: 3%;
	min-height: 215px;
	
	background-color: #f9f9f4;
	border: 1px solid #e5e5e5;
	
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.box h2 {
	padding: 5px;
	min-height: 65px;
	
	border-bottom: 1px solid #e5e5e5;
}

.box p {
	padding: 5px;
}

.box.right {
	margin-right: 0;
}

.boxrow {
	text-align: center;
	clear: both;
	padding-top: 18px;
	width: 100%;
}

.boxrow p {
	color: #504c5a;
	font-weight: 300;
}

.boxrow a:hover {
	text-decoration: none;
}






@media handheld, only screen and (max-width: 767px) {

.box {
	width: 100%;
	margin-top: 18px;
	float: none;
	min-height: 115px;
}

.boxrow {
	padding: 0;
}

}
